@page
@model IndexModel
@{
    ViewData["Title"] = "Challenge Assignment";
}

<div class="text-center">
    <h1 class="display-4">Challenge Assignment</h1>
    <h2 class="display-4">See Below</h2>
    <p>The current date and time is @DateTime.Now</p>
</div>
